.header__lang-link {
  display: flex;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  margin-left: 18px;
  margin-top: 18px;
  transition: linear 0.3s;
  text-decoration: none;
}

.header__lang-link:hover {
  color: grey;
}

@media all and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 16px;
  }
}
