.photo-grid {
  width: calc(1184/1280*100%);
  max-width: 1184px;
  padding-top: 92px;
  display: grid;
  justify-items: center;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media all and (max-width: 1024px) {
  .photo-grid {
    width: calc(928/1024*100%);
    gap: 14px;
  }
}

@media all and (max-width: 768px) {
  .photo-grid {
    width: calc(720/768*100%);
    padding-top: 88px;
    gap: 16px;
  }
}

@media all and (max-width: 340px) {
  .photo-grid {
    width: calc(288/320*100%);
    padding-top: 64px;
    gap: 12px;
  }
}
