.cover__subtitle {
  width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media all and (max-width: 710px) {
  .cover__subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media all and (max-width: 288px) {
  .cover__subtitle {
    width: 100%;
    font-size: 4.3vw;
    line-height: 4.3vw;
  }
}
