.intro {
  width: calc(984/1280*100%);
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 92px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #FFFFFF;
  text-align: left;
}

@media all and (max-width: 1024px) {
  .intro {
    width: calc(928/1024*100%);
  }
}

@media all and (max-width: 768px) {
  .intro {
    width: calc(720/768*100%);
    padding-top: 88px;
  }
}

@media all and (max-width: 320px) {
  .intro {
    width: calc(288/320*100%);
    padding-top: 64px;
  }
}
