.cover__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(42, 44, 47, 0.3);
  width: 100%;
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
  z-index: 1;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s linear;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
}
