.cover__title {
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: calc(245/1184*100%) 0 32px;
}

@media all and (max-width: 1024px) {
  .cover__title {
    margin-top: calc(195/1024*100%);
  }
}

@media all and (max-width: 768px) {
  .cover__title {
    margin-top: calc(115/768*100%);
  }
}

@media all and (max-width: 710px) {
  .cover__title {
    margin: calc(33/320*100%) 0 16px;
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media all and (max-width: 288px) {
  .cover__title {
    width: 100%;
    font-size: 10vw;
    line-height: 10vw;
  }
}
