.place {
  padding-top: 80px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #FFFFFF;
  text-align: left;
  display: grid;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-columns: 460px 1fr;
}

.place:first-of-type {
  padding-top: 0;
}

@media all and (max-width: 1150px) {
  .place {
    column-gap: 32px;
    grid-template-columns: 440px 1fr;
  }
}

@media all and (max-width: 950px) {
  .place {
    padding-top: 73px;
    column-gap: 28px;
    grid-template-columns: 340px 1fr;
  }
}

@media all and (max-width: 710px) {
  .place {
    width: 100%;
    padding-top: 49px;
    row-gap: 32px;
    grid-template-columns: 1fr;
  }
}
